.tarjetaRestaurante{
    background-color: var(--verde-claro);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1dvh;
    width: 30dvw;
    height: 50dvh;
    box-shadow: 10px 10px 5px lightsteelblue;
    max-width: 600px;
}

.tarjetaRestaurante p{
    margin: 1vh;
    text-align: center;
}

.nombreRestaurante{
    padding: 2dvh;
    color: var(--gris);
    border-radius: 8px;
    margin: 2dvh;
}

h2 {
    color: var(--blanco)
}

.imagenTarjeta{
    width: 20dvw;
    height: 25dvh;
    margin: 1dvh;
}