
body{background-color:#b2a3ea;
    
}
header{
    background-color: #E0B0FF;
    padding: 20px;
    text-align: center;
}


h1{
    font-size: 36px;
    font-family: arial, sans-serif;
    background-color: #E0B0FF;
}

    
 a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}


a:hover {
  color: rgb(93, 143, 217);
  background-color: transparent;
  text-decoration-thickness: inherit;
}

a:active {
  color:  rgb(147, 34, 172);
  background-color: transparent;
  
}
h2{
    font-size: 25px;
      text-align: center;
    font-family: arial, sans-serif;
     background-color: #E0B0FF;
    padding: 1%;
}
   

.sobre-mi-contenedor{
    display: flex;
    align-items:center;
    gap: 10px;
    max-width: 900px;
    margin: auto;
    
}

.info-sobre-mi {
    flex: 1;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    
}

.imagen-vida {
    width: 400px;
    height: 200px;
    object-fit: contain;
    justify-content: space-between;
}


.contenedor-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 900px;
    margin: 40px auto;
}

.video-miniatura{
    display: flex;
    justify-content: center;
}

.video-miniatura img {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-miniatura img:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}
.lista-habilidades {
    list-style: none;
    padding: 0;
    max-width: 900px;
    margin: auto;
}

.item-habilidad {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: rgb(93, 143, 217);
    
    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(120, 9, 109, 0.829);
    
}

.item-habilidad:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.item-habilidad span {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.item-habilidad img {
    width: 200px;
    height: 200px;
    object-fit:scale-down;
    border-radius: 20px;
    
}

.item-habilidad img:hover {
    transform: scale(1.05);
}

  button:hover {
    background-color: #9fb0ed;
    color: #000000;
    padding: 10px 20px;
    border: 1px solid #afb4a7;
    cursor:pointer;
 
    
}
form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    background-color: #a3c3eb;
    padding: 9px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(120, 9, 109, 0.829);
}