header {
    width: 100%;
    background: var(--color-bg-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home {
    font-size: 2.3rem;
    color: var(--color-text-secondary);
}

header .right {
    display: flex;
    gap: 15px;
    font-size: 2.3rem;
    color: var(--color-text-secondary);
}

header .center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}