<header class="header">
    <div class="left">
        <a routerLink="/">
            <div class="home">
                ⌂
            </div>
        </a>
    </div>
    <div class="center">
        <div class="search">
            <form id="search" action="">
                <input type="text">
                <button type="submit">🔍</button>
            </form>
        </div>
    </div>
    <div class="right">
        <div class="map">
            🗺️
        </div>
        <a routerLink="/profile">
            <div class="profile">
                👤
            </div>
        </a>
    </div>
</header>