<header class="header">
    <div class="left">
        <a routerLink="/">
            <div class="home">
                ⌂
            </div>
        </a>
    </div>
    <div class="center">
        <div class="search">
            <form id="search" action="">
                <input type="text">
                <button type="submit">🔍</button>
            </form>
        </div>
    </div>
    <div class="right">
        <a routerLink="/map">
             <div class="map">
                🗺️
            </div>
        </a>
        @if (isLoggedIn()) {
            <a routerLink="/profile">😺</a>
            <button (click)="logout()">Logout</button>
        } @else {
            <a routerLink="/login">👤</a>
            <a routerLink="/signup">➕👤</a>
        }
    </div>
    @if (currentUser()) {
        <p>Logged in as {{ currentUser()?.nombre }}</p>
    }
</header>