html {
    background-color: #F8EDEB;
}

#cabecera {
    display:flex;
    justify-content: center;
    background-color: #F7CAC9;
    padding: 2vh;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0px 0px 30px #333;
    text-decoration: none;
    color: black;
    border-radius: 8px;
}

#contenedorForm {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
}

label {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.cajaTexto{
    border-radius: 6px;
    width: 300px;
}

select {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 16px;
    width: 200px;
}

#submit{
    margin-top: 3vh;
    padding: 1vh;
    border-radius: 8px;
}