<div class="main-wrapper"> <!-- Este contenedor ayuda a centrarlo todo -->
    <div class="auth-container">

        <form class="login-form">
            <h1>Inicia sesión</h1>

            <div class="input-group">
                <label>Email</label>
                <input type="email" placeholder="Correo electrónico">
            </div>

            <div class="input-group">
                <label>Contraseña</label>
                <input type="password" placeholder="Contraseña">
                <div class="links-helper">
                    <a href="#">¿Has olvidado tu contraseña?</a>
                    <a [routerLink]="['/registro']" class="register-link">
                        ¿No tienes cuenta? Regístrate
                    </a>
                </div>
            </div>

            <button type="submit" class="btn-main">
                <span>CONTINUAR</span>
                <span>→</span>
            </button>
        </form>

        <div class="separator">O también</div>

        <section class="social-auth">

            <div class="social-buttons">
                <button class="btn-social">CONTINUAR CON GOOGLE</button>
                <button class="btn-social">CONTINUAR CON APPLE</button>
            </div>
            <p class="legal">
                Al iniciar sesión, aceptas nuestra <strong>Política de Privacidad</strong>.
            </p>
        </section>

    </div>
</div>