<div class="main-wrapper">
  <div class="auth-container">
    
    <form class="login-form" (ngSubmit)="submitLogin()" #loginForm="ngForm">
      <h1>Inicia sesión</h1>

      <!-- Nombre -->
      <div class="input-group">
        <label for="nombre">Nombre</label>
        <input 
          id="nombre" 
          name="nombre" 
          type="text" 
          [(ngModel)]="nombre" 
          placeholder="Nombre de usuario" 
          required>
      </div>

      <!-- Password -->
      <div class="input-group">
        <label for="password">Contraseña</label>
        <input 
          id="password" 
          name="password" 
          type="password" 
          [(ngModel)]="password" 
          placeholder="Contraseña" 
          required>

          <!-- Error -->
      @if (errorMessage) {
        <p class="error-text">
          {{ errorMessage }}
        </p>
      }
        
        <div class="links-helper">
          <a href="#">¿Has olvidado tu contraseña?</a>
          <a routerLink="/registro" class="register-link">
            ¿No tienes cuenta? Regístrate
          </a>
        </div>
      </div>


      <!-- Botón -->
      <button 
        type="submit" 
        class="btn-main" 
        [disabled]="isSubmitting"
      >
        @if (isSubmitting) { 
          <span>Entrando...</span>
        } @else { 
          <span>Iniciar sesión</span>
        }
        <span>→</span>
      </button>

    </form>

    <div class="separator">O también</div>

    <!-- Social -->
    <section class="social-auth">
      <div class="social-buttons">
        <button type="button" class="btn-social">
          CONTINUAR CON GOOGLE
        </button>
        <button type="button" class="btn-social">
          CONTINUAR CON APPLE
        </button>
      </div>

      <p class="legal">
        Al iniciar sesión, aceptas nuestra 
        <strong>Política de Privacidad</strong>.
      </p>
    </section>

  </div>
</div>