<div class="receta-container">
    
    <div class="receta-card">
        <img [src]="image_url()" alt="{{ nombre() }}" class="receta-img"/>

        <div class="receta-content">
            <h2>{{ nombre() }}</h2>

            <p class="descripcion">{{ descripcion() }}</p>

            <div class="receta-info">
                <div>
                    <h4>Ingredientes</h4>
                    <p>{{ ingredientes() }}</p>
                </div>

                <div class="meta">
                    <span>⏱ {{ tiempo_min() }} min</span>
                    <span>🔥 {{ dificultad() }}</span>
                </div>
            </div>

            @if (isOwner()) {
                <div class="action-buttons">
                    <a [routerLink]="['/recetas/actualizar-receta', id()]" class="btn-edit">
                        ✏️ Editar
                    </a>
                    <a [routerLink]="['/recetas/borrar-receta', id()]" class="btn-delete">
                        🗑️ Eliminar
                    </a>
                </div>
            }
        </div>
    </div>

</div>