<div class="receta-container">
    <h2>{{ nombre() }}</h2>
    <div class="description">
        <h3>Descripcion:</h3>
        <p>{{ descripcion() }}</p>
    </div>
    <div class="ingredientes">
        <h3>ingredientes</h3>
        <p>{{ ingredientes() }}</p>
    </div>
    <div class="tiempo_min">
        <h3>Tiempo minio</h3>
        <p>{{ tiempo_min() }}</p>
    </div>
    <div class="dificultad">
        <h3>Dificultad</h3>
        <p>{{ dificultad() }}</p>
    </div>
    <h4>Image: {{ image_url() }}</h4>
</div>
<p>{{ id() }}</p>