header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #08d35c;
  border-bottom: 1px solid #dee2e6;
  border-radius: 0 0 8px 8px;
}

.search {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

input {
  border: none;
  padding: 10px;
  outline: none;
  flex: 1;
}

button {
  border: none;
  padding: 0 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.actions {
  display: flex;
  gap: 1rem;
    align-items: center;
  cursor: pointer;
}