<header>
<a routerLink="/restaurantes" class="restaurant">
  <img ngSrc="/restaurant-svgrepo-com.svg" alt="Restaurant" width="40" height="40">
</a>

<div class="search">
    <input type="text" id="buscar" placeholder="Buscar restaurantes...">
    <button>
        <img ngSrc="/search-find-browser-svgrepo-com.svg" alt="Buscar" width="40" height="40"> </button>
</div>

<a routerLink="/login" class="login">
  <img ngSrc="/check-form-svgrepo-com.svg" alt="Login" width="50" height="50">
</a>

<div class="actions">
<a routerLink="mapa" class="mapa">
    <img ngSrc="/placeholder-map-location-svgrepo-com.svg" alt="Map Location" class="map-location" width="40" height="40">
</a>

<a routerLink="/perfil" class="perfil">
    <img ngSrc="/avatar-winter-custome-4-svgrepo-com.svg" alt="Avatar Winter Custom 4" class="avatar" width="50" height="50">
</a>
</div>


</header>