 .cards-container {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    /* Aumentamos el espacio entre columnas */
    width: 100%;
    /* Que no llegue al borde total de la pantalla */
    margin: 0 auto;
    padding: 40px 40px;
}

/* ESTA ES LA CLAVE PARA ANGULAR:
   Hacemos que el componente personalizado no genere una caja propia
   para que la tarjeta interior sea la que se posicione en el grid */
app-restaurante-card {
    display: contents;
}

/* Responsive para móviles */
@media (max-width: 768px) {
    .cards {
        grid-template-columns: 1fr;
    }
}