/* You can add global styles to this file, and also import other style files */
body {
  background-color: #e6f1ee; 
  margin: 0;                /* Evita márgenes por defecto */
  font-family: Arial, sans-serif; 
}