<header>
  <a routerLink="/">
    <img src="assets/iconos/home.svg" alt="Inicio" width="30">
  </a>

  <div class="buscador">
    <input type="text" placeholder="Buscar restaurante...">
    <img src="assets/iconos/lupa.svg" alt="Buscar" width="20">
  </div>

  <a routerLink="/mapa">
    <img src="assets/iconos/mapa.svg" alt="Mapa" width="30">
  </a>

  <nav>
    <a routerLink="/login">Login</a>
    <a routerLink="/perfil">
      <img src="assets/iconos/user.svg" alt="Perfil" width="30">
    </a>
  </nav>
</header>   