<section>
    <h1>Login</h1>

    <form (ngSubmit)="submitLogin()">
        <input
            id="nombre"
            name="nombre"
            [(ngModel)]="nombre"
            placeholder="nombre"
            required
        >
        <input
            id="password"
            name="password"
            type="password"
            [(ngModel)]="password"
            required
        >

        @if (errorMessage) {
            <p>{{ errorMessage }}</p>
        }

        <button type="submit" [disabled]="isSubmitting">
            @if (isSubmitting) {
                I'm loging you
            } @else {
                Let's go
            }
        </button>

    </form>
	<p>¿Todavía no tienes cuenta? <a routerLink="/signup">Crear cuenta</a></p>
</section>