<div class="restaurant-card">
    <div class="card-header">
        <h2 class="name">{{ nombre() }}</h2>
        <p class="description">{{ descripcion() }}</p>
    </div>
    <div class="card-content">
        <img class="image" ngSrc="{{ fotografia_url() }}" alt="A super picture" width="400" height="200" priority>
        <div class="coordo">
            <p>{{ latitud() }}</p>
            <p>{{ longitud() }}</p>
        </div>
        <div class="rating">
<div class="rating">
    @for (star of [1,2,3,4,5]; track star) {
      <!-- <span>{{ star <= (rating() ?? 0) ? '★' : '☆' }}</span> -->
    }
  </div>
        </div>
    </div>
</div>
