<header>
    <div class="header-content">
        <button id = "btn-home" class = "btn-header">
            <i class="fa-regular fa-house"></i>
        </button>
        <form id = "buscador" class = "form-header">
            <input type = "text" placeholder = "Buscar restaurante...">
            <button type = "submit"> Buscar </button>
        </form>
        <button id = "btn-mapa" class = "btn-header">
            <i class="fa-solid fa-earth-europe"></i>
        </button>
        <button id = "btn-login" class = "btn-header">
            <i class="fa-regular fa-user"></i>
        </button>
    </div>
</header>