/* El contenedor principal */
.main-wrapper {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 30px;
  background-color: #ffffff; 
  border-radius: 15px;
}

/* La línea divisoria */
.separator {
  border: 0;
  border-top: 1px dashed #ccc; 
  margin: 40px 0;
}

/* GRID:  tamaño igual */
.recipes-grid {
  display: grid;
  /* Crea columnas de mínimo 300px que se estiran proporcionalmente */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px; /* Espacio de separación entre tarjetas */
}

/* Estilos para la cabecera (Foto lateral) */
.restaurant-header {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.image-box {
  flex: 0 0 350px;
}

.restaurant-picture {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

