/* Tarjeta individual */
.restaurante-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #0c75dd;
    border-radius: 8px;
    padding: 1rem;
    background-color: #8bbedb;
    width: 300px;      /* ancho fijo */
    height: 450px;     /* alto fijo para todas */
    box-sizing: border-box;
    text-align: center;
}

/* Imagen dentro de la tarjeta */
.restaurante-card img {
    width: 100%;
    height: 200px;    
    object-fit: cover; 
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

