<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="footer.css">
</head>

<body>

    <main>
        <div class="gracias">
            <p>¡Gracias por visitar nuestra web! ¡La mama está muuu contenta!</p>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-top">
            <div class="footer-section1">
                <h3>Contacto</h3>
                <ul>
                    <li>Teléfono: +34 123 456 789</li>
                    <li>Dirección: Calle de la Mama, 123, Ciudad</li>
                    <li>Email: lamama@email.com</li>
                </ul>
            </div>

            <div class="footer-section2">
                <h3>Síguenos</h3>
                <div class="socials">
                    <a href="#">📘</a>
                    <a href="#">📸</a>
                    <a href="#">▶️</a>
                </div>
            </div>
        </div>


        <div class="footer-bottom">
            <p>©️2026 Todos los derechos de la mama reservados</p>
        </div>
    </footer>

</body>

</html>