<h1 class="title">Formulario de Registro</h1>
<div class="form-container">
    <form id="formulario" [formGroup]="profileForm">

      <label for="fname">Nombre:</label><br>
      <input type="text" formControlName="name" placeholder="Introduce tu nombre.." required/><br><br>

      <label for="fpassword">Contraseña:</label><br>
      <input type="password" formControlName="password" placeholder="Introduce tu contraseña.." required /><br><br>

    <label for="confirmPassword">Repetir contraseña:</label>
		<input id="confirmPassword" name="confirmPassword" type="password" placeholder="Repite tu contraseña.."  required>

      <button type="submit">Registrarse</button>
    </form>
</div>