<div class="card">
    <div class="card-content">
        <h2 class="card-title">{{ nombre }}</h2>
        <p>{{ descripcion }}</p>
        <img [src]="imagen" alt="{{ nombre }}" />
    </div>
    <div class="card-footer">
        <span>Lat: {{ latitud }}</span>
        <span>Lng: {{ longitud }}</span>
    </div>
    <div class="footer-buttons">
        <button (click)="actualizar.emit(id)">Actualizar restaurante</button>
        <button (click)="eliminar.emit(id)">Eliminar restaurante</button>
    </div>

</div>