body {
    background-color: #e9f5e1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: thistle;
    margin-left: 1in;
    .card img {
        width: 100px;
        height: auto;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .card img.activa {
        width: 100%;
        height: auto;
    }
}