
<div class="login-container">
  <div class="login-card">
    <h2>Crear cuenta</h2>
    
    <form>
      <div class="form-group">
        <label>Nombre completo</label>
        <input type="text" placeholder="Escribe tu nombre">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" placeholder="tucorreo@ejemplo.com">
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" placeholder="Crea una clave segura">
      </div>

      <button type="submit">Registrarme</button>
    </form>

<p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>  </div>
</div>