<a [routerLink]="['/restaurantes', id(), 'recipes', '1']" class="card-link">
  <div class="restaurante-card">
    <div class="imagen">
      <img [src]="fotogria_url()" alt="{{nombre()}}">
    </div>
    
    <div class="info-container">
      <div class="nombre">
        <h3>{{ nombre() }}</h3> </div>
      <div class="descripcion">
        <p>{{ descripcion() }}</p>
      </div>
      
      <div class="coordenadas" *ngIf="lat() && lng()">
        <span>Lat: {{ lat() }}</span>
        <span>Lng: {{ lng() }}</span>
      </div>
    </div>
  </div>
</a>
      

<!-- <button class="btn-ver-mas">Ver más</button>
    </div>
  </div>
</div> --->  
