<footer class="footer-container">
    <div class="footer-content">
  
      <div class="footer-section">
        <h3>FakeAdvisor</h3>
        <p>Nosotros proponemos, tú haz lo que quieras</p>
      </div>
  
      <div class="footer-section">
        <h4>Navegación</h4>
        <ul>
          <li><a routerLink="/restaurantes">Restaurantes</a></li>
          <li><a routerLink="/mapa">Mapa</a></li>
          <li><a routerLink="/perfil">Perfil</a></li>
          <li><a routerLink="/login">Login</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Síguenos</h4>
        <div class="social-icons">
          <a href="#"><img src="assets/icons/facebook.svg" alt="Facebook" /></a>
          <a href="#"><img src="assets/icons/instagram.svg" alt="Instagram" /></a>
          <a href="#"><img src="assets/icons/twitter.svg" alt="Twitter" /></a>
        </div>
      </div>
  
    </div>
  
    <div class="footer-bottom">
        <p>{{ fechaCompleta }}</p>
        <p>{{ horaCompleta }}</p>
            </div>
  </footer>
  