<footer class="footer">
    <div class="footer-container">

        <div class="footer-top">
            <div class="footer-column">
                <h4>Cuenta</h4>
                <a href="/login">Iniciar sesión</a>
                <a href="/registro">Registrarse</a>
            </div>

            <div class="footer-column">
                <h4>Explorar</h4>
                <a href="#">Recetas</a>
                <a href="/mapa">Mapa</a>
                <a href="/restaurantes">Restaurantes</a>
            </div>
            <div class="footer-column">
                <h4>¿Qué quieres hacer?</h4>
                <a href="/añadir-restaurante">Añadir restaurantes</a>
                <a href="/actualizar-restaurante">Actualizar restaurantes</a>
                <a href="/borrar-restaurante">Borrar restaurantes</a>
            </div>
            <div class="footer-column">
                <h4>Legal</h4>
                <a href="#">Privacidad</a>
                <a href="#">Términos</a>
            </div>
        </div>

        <div class="footer-divider"></div>

        <div class="footer-bottom">
            <div class="footer-social">
                <a href="https://www.facebook.com/" target="_blank" rel="noreferrer">
                    <img src="/facebook.svg" alt="Facebook" width="24" height="24">
                </a>
                <a href="https://www.instagram.com/" target="_blank" rel="noreferrer">
                    <img src="/instagram.svg" alt="Instagram" width="24" height="24">
                </a>
                <a href="https://twitter.com/" target="_blank" rel="noreferrer">
                    <img src="/twitter.svg" alt="Twitter" width="24" height="24">
                </a>
            </div>

            <div class="footer-copy">
                <p>&copy; 2026 <a href="https://www.linkedin.com/in/pilar-salvador-arenas/" target="_blank"
                        rel="noreferrer">
                        Pilar Salvador
                    </a></p>
            </div>
        </div>

    </div>
</footer>